<%= render 'list' %>
<table class="table table-bordered">
  <tbody>
  <% @repos_subs.each do |sub| %>
  <tr>
    <td><%= link_to sub.repo.username_repo, sub.repo %></td>
    <td><%= link_to "Github Issues", sub.repo.issues_url %></td>
    <td>
      <%= link_to(issue_assignments_path(:id => sub.id), :class => 'btn btn-primary', :method => :post) do %>
        <i class="icon-envelope icon-white"></i> Get next issue
      <% end %>
      <%= link_to(sub, :method => :delete, :class => 'btn btn-danger', :confirm => "Are you sure you want to quit triaging '#{sub.repo.path}'?") do %>
        <i class="icon-remove icon-white"></i> Quit triaging
      <% end %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>


