<h2>Editing repo <%= @repo.full_name %></h2>

<%= form_for @repo do |f| %>

  <p>As a repo owner you are able to add some text to your repos page to encourage users to subscribe to your project and help out.  You may also want to add additional information on the best ways to help out and any common things that people might want to know in advance.</p>
  <p>Markdown is supported here</p>

  <p>
    <%= f.text_area :notes, class: 'span6', rows: 5 %>
  </p>

  <div class="">
    <%= f.submit "Update repo", class: 'btn btn-primary' %>
    <%= link_to "Cancel", repo_path(@repo), class: 'btn' %>
  </div>

<% end -%>
