<% @repo.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>

<% if user_signed_in? %>
  <h2>Your repos</h2>
  <p>Only repos that have GitHub issues enabled are shown</p>

    <ul class="nav nav-tabs" data-tabs="tabs" id="repo-tabs">
      <li><a href="#own" data-toggle="tab">Your own repos</a></li>
      <li><a href="#starred" data-toggle="tab">Starred repos</a></li>
      <li><a href="#watched" data-toggle="tab">Watched repos</a></li>
    </ul>

    <div class="tab-content ">
      <div class="tab-pane active" id="own">
        <%= render 'shared/add_repos_list', repos: @own_repos %>
      </div>

      <div class="tab-pane active" id="starred">
        <%= render 'shared/add_repos_list', repos: @starred_repos %>
      </div>

      <div class="tab-pane active" id="watched">
        <%= render 'shared/add_repos_list', repos: @watched_repos %>
      </div>
    </div>

<% end -%>
<h3>Add another repo</h3>

<h4>by entering the user and repo name</h4>
<%= form_for @repo, html: { id: "new_repo_from_names" } do |f| %>
  https://github.com/
  <%= f.text_field :user_name, :placeholder => 'user name e.g. "schneems" ', class: 'preview_user_name' %> /
  <%= f.text_field :name, :placeholder => 'repo name e.g. "sextant" ', class: 'preview_repo_name' %>
  <%= f.submit :value => "Add Repo", :class => 'btn btn-primary', :id => 'createRepo' %>
  <p id="repo_preview" class="repo_preview">
    Preview: <a href='https://github.com' target='_blank'>https://github.com/</a>
  </p>
<% end %>

<h4>or by pasting the full repo URL</h4>
<%= form_tag repos_path, {class: "new_repo", id: "new_repo_from_url"} do %>
  <%= text_field_tag :url, nil, :placeholder => 'full url e.g. "https://github.com/schneems/sextant', class: 'url_field' %>
  <%= submit_tag nil, :value => "Add Repo", :class => 'btn btn-primary', :id => 'createRepo' %>
<% end %>
