<% @repo.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>

<% if user_signed_in? %>
  <h2>Your repos</h2>
  <p>Only repos that have GitHub issues enabled are shown</p>

    <ul class="nav nav-tabs" data-tabs="tabs" id="repo-tabs">
      <li><a href="#own" data-toggle="tab">Your own repos</a></li>
      <li><a href="#starred" data-toggle="tab">Starred repos</a></li>
      <li><a href="#watched" data-toggle="tab">Watched repos</a></li>
    </ul>

    <div class="tab-content ">
      <div class="tab-pane active" id="own">
        <%= render 'shared/add_repos_list', repos: @own_repos %>
      </div>

      <div class="tab-pane active" id="starred">
        <%= render 'shared/add_repos_list', repos: @starred_repos %>
      </div>

      <div class="tab-pane active" id="watched">
        <%= render 'shared/add_repos_list', repos: @watched_repos %>
      </div>
    </div>

<% end -%>

<h3>Add another repo</h3>

<%= form_for @repo do |f| %>

  https://github.com/
  <%= f.text_field :user_name, :placeholder => 'user name e.g. "schneems" ' %> /
  <%= f.text_field :name, :placeholder => 'repo name e.g. "sextant" ' %>
  <br />
  <br />
  <p>
    Preview: <a href='https://github.com' id='repoPreview' target='_blank'>https://github.com/</a>
  </p>
  <p>
    <%= f.submit :value => "Add Repo", :class => 'btn btn-primary', :id => 'createRepo' %>
  </p>
<% end %>


<%= content_for :js do %>
  <script type='text/javascript'>
    var addGitHubLinkHelper = function() {
      var user_name = $('#repo_user_name').val();
      var repo_name = $('#repo_name').val();
      var github = "https://github.com/" + user_name + "/" + repo_name
      $('#repoPreview').html(github)
      $('#repoPreview').attr('href', github)
    };
    $('#repo_user_name, #repo_name').on('keyup', addGitHubLinkHelper)
    addGitHubLinkHelper();
  </script>
<% end %>

