<% @repo.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>

<% if user_signed_in? %>
  <h2>Your repos</h2>
  <p>Only repos that you own, and have Github issues enabled are shown</p>
  <table class="table table-striped">
    <% @own_repos.each do |repo| %>
      <% if repo["has_issues"] %>
        <tr>
          <%= form_for @repo do |f| %>
            <%= f.hidden_field :user_name, :value => repo["full_name"].split("/").first %>
            <%= f.hidden_field :name, :value => repo["full_name"].split("/").last %>
            <td><%= repo["full_name"] %></td>
            <td><%= repo["open_issues_count"] %> issues</td>
            <td>
              <% if  Repo.exists_with_name?(repo["full_name"]) %>
                <p>Added!</p>
              <% else -%>
                <%= f.submit "Add", class: 'btn btn-mini btn-primary'  %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end -%>
  <% end -%>
  </table>
<% end -%>

<h3>Add another repo</h3>

<%= form_for @repo do |f| %>

  https://github.com/
  <%= f.text_field :user_name, :placeholder => 'user name e.g. "schneems" ' %> /
  <%= f.text_field :name, :placeholder => 'repo name e.g. "sextant" ' %>
  <br />
  <br />
  <p>
    Preview: <a href='https://github.com' id='repoPreview' target='_blank'>https://github.com/</a>
  </p>
  <p>
    <%= f.submit :value => "Add Repo", :class => 'btn btn-primary', :id => 'createRepo' %>
  </p>
<% end %>


<%= content_for :js do %>
  <script type='text/javascript'>
    var addGithubLinkHelper = function() {
      var user_name = $('#repo_user_name').val();
      var repo_name = $('#repo_name').val();
      var github = "https://github.com/" + user_name + "/" + repo_name
      $('#repoPreview').html(github)
      $('#repoPreview').attr('href', github)
    };
    $('#repo_user_name, #repo_name').on('keyup', addGithubLinkHelper)
    addGithubLinkHelper();
  </script>
<% end %>

