<h1><%= @repo.username_repo %> <small><%= @repo.language %></small></h1>


<ul class="unstyled">
  <li><%= link_to @repo.github_url, @repo.github_url %> </li>
  <%= render 'subscribers/avatars', subscribers: @subscribers, show_names: false %>
  <li>
    <%= link_to repo_subscribers_path(:user_name => @repo.user_name, :name => @repo.name) do %>
      View subscribers
    <% end %>
  </li>
</ul>

<p>
  <%= @repo.description %>
</p>

<hr />

<h2>Help Triage Issues!</h2>
<p>
	When you volunteer to triage issues, you'll receive an email each day with a link to an open issue that needs to be triaged in this project. You'll also receive instructions on how to triage issues.
</p>

<% if @repo_sub.blank? %>
	<%= button_to "I Want to Triage: #{@repo.username_repo}", repo_subscriptions_path(:repo_id => @repo.id), :class => 'btn btn-primary' %>
<% else %>
<p>
    <%= link_to issue_assignments_path(:id => @repo_sub.id), :class => 'btn btn-primary', :method => :post do %>
      <i class="icon-envelope icon-white"></i> Send new issue!
    <% end %>
</p>


<p>
  You are already subscribed to <%= @repo.username_repo %>.
  <br/>
  <%= link_to repo_subscription_path(@repo_sub), :class => 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' } do %>
    <i class="icon-remove icon-white"></i> Stop Triaging: <%= @repo.username_repo %>
  <% end %>

</p>


<hr />
<h2>You've been assigned: <%= @repo_sub.issues.count %> issues for triage</h2>
<ul>
<% @repo_sub.issues.order('created_at DESC').each do |issue| %>
  <li><%= issue.state.upcase %> | <%= link_to issue.title, issue.html_url %> </li>
<% end %>
</ul>

<% end %>
</p>

<hr />
<h2><%= @issues.total_entries %> open issues in <%= @repo.username_repo %></h2>
<div>
  <div clas="page_info">
    <%= page_entries_info @issues %>
  </div>
  <%= will_paginate @issues, :container => false %>
</div>
<br />
  <ul>
    <% @issues.each do |issue| %>
      <li>
        <%= link_to issue.title, issue.html_url %>
      </li>
    <% end %>
  </ul
<hr />


