Hello <%= @user.github %>,

<p>
You signed up to help triage GitHub issues on <%= link_to @repo.path, @repo.github_url %>. That's pretty awesome.
</p>

<h2>Triage Issue: <%= @repo.path %><%= "##{@issue.number}" if @issue.number %></h2>

<h2><%= link_to @issue.title, @issue.html_url %></h2>

<h2>Goals of Triage</h2>

<ul>
  <li>Help share the weight of maintaining a project</li>
  <li>Minimize un-needed issues</li>
  <li>Prevent stale issues</li>
  <li>Encourage productive communication</li>
  <li>Teach good citizenship</li>
  <li>To become a better coder</li>
</ul>

<h2>How To Triage?</h2>

<p>
First, carefully read over the issue, title, and description, if there are any comments read over all the comments, carefully. If a member of this repo is engaging actively there is no need to do anything, leaving a comment in the issue would just add to the clutter.
</p>
<p>
If the issue hasn't been updated in awhile, or if no one has commented consider the issue, if it is a bug try to reproduce it. If it is a pull request consider what an alternate implementation might look like. If there is something you don't understand about the issue and feel others will have that same question please leave your question in the comments. Be as descriptive as possible. Comments like "I don't understand this" are not helpful and counter productive. A better comment might be "Can you help me understand a use case for this?".
</p>

<p>
If you can reproduce the issue or you believe it is a good pull request, add a comment and say why you think that is. Try to stay positive while triaging issues, ask questions before you :-1: something. If you do decide to :+1: or :-1: on an issue, leave a comment as to why you feel that way. Issues are for social coding, if you help someone make better issues, you're helping the community.
</p>

<p>
If the issue goes stale, leave a comment asking if it is still a problem. If you get no response for a number of days, you can leave another comment suggesting to the repo owner that they should close the issue.
</p>




<p>Go forth and make the world a better place</p>

<p>Sincerely,</p>
<a href='http://twitter.com/schneems'>@schneems</p>

<hr />

<p><%= link_to "Send another #{@repo.path} issue", repo_url(@repo) %></p>
<p><%= link_to "Unsubscribe: #{@repo.path}", repo_url(@repo) %></p>
<p><%= link_to "Remove Account", token_delete_user_url(@user.account_delete_token) %></p>
<p><%= link_to 'Help triage more repos at codetriage.com', root_url %></p>
