Hello @<%= @user.github %>,

<p>Here are some issues you should check out:<p>

<% @issues.each do |issue| %>
  <p>
    <h2 style='font-size: 1.1em'>
      <%= "##{issue.number}" if issue.number %>
      <%= link_to issue.title, issue.html_url  %>
    </h2>
    <p>
    <small>
       <%= link_to issue.repo.full_name, repo_url(issue.repo) %>
       <%= time_ago_in_words issue.last_touched_at %>
     </small>
    <p>
  </p>
  <hr />
<% end %>

<p>Go forth and make the world a better place</p>
<a href='http://twitter.com/schneems'>@schneems</p>
<p><%= link_to 'Help triage more repos at codetriage.com', root_url %></p>
<p><%= link_to 'Delete Account', @user %></p>