<div class="span4">
  <% if current_user && current_user == @user %>
    <h3>Email:</h3>
    <p><%= @user.email %></p>
    <small class='muted'>Only visible to you</small>
  <% end %>

  <h3>GitHub:</h3>
  <p><%= "@#{@user.github }"%></p>

  <h3>Publicly visible?:</h3>
  <p><%= @user.public? ? "Yes" : "No" %></p>

  <p><small>If your account is public others can see what repos you are triaging. Your email is never shared, ever.</small></p>

  <% if @user.public? %>
    <%= link_to "Make account private", users_path(user: {private: true}), method: :put, :class => 'btn btn-primary'  %>
  <% else %>
    <%= link_to "Make account public", users_path(user: {private: false}), method: :put, :class => 'btn btn-primary'  %>
  <% end %>

  <h3>Favorite Languages:</h3>

  <p>Select your favorite languages:</p>

  <%= form_for @user do |f| %>

    <% Repo.all_languages.each do |language| %>
      <label class="checkbox">
        <%= f.check_box :favorite_languages, { multiple: true }, language, nil %>
        <%= language %>
      </label>
    <% end %>

    <p>
      <%= button_tag "Save", :class => "btn btn-primary" %>
    </p>

  <% end %>

</div>

<div class="span2 well">
  <% if current_user.blank? %>

    Are you <%= @user.github %>?<br />
    <span class="active"><%= link_to 'Login', new_user_registration_path %></span>
    to edit your account

  <% elsif current_user == @user %>
    <%= link_to "Edit my account", edit_user_path(@user), :class => 'btn btn-primary', :style => 'margin-bottom: 5px' %>

    <%= link_to user_path(@user), method: "delete", confirm: "#{t("web-app-theme.confirm", :default => "Are you sure?")}", class:  'btn btn-danger' do %>
      <i class="icon-trash icon-white"></i> Delete my account
    <% end %>

  <% else %>
    This isn't your account, jump to <%= link_to current_user.github, current_user %>
  <% end %>
</div>
