<div class="row">
  <div class="span5">
    <h3>Email:</h3>
    <p><%= @user.email %></p>

    <h3>Github:</h3>
    <p><%= "@#{@user.github }"%></p>

    <h3>Publicly visible?:</h3>
    <p><%= @user.public? ? "Yes" : "No" %></p>

    <p><small>If your account is public others can see what repos you are triaging. Your email is never shared, ever.</small></p>

    <% if @user.public? %>
      <%= link_to "Make account private", users_path(user: {private: true}), method: :put, :class => 'btn btn-primary'  %>
    <% else %>
      <%= link_to "Make account public", users_path(user: {private: false}), method: :put, :class => 'btn btn-primary'  %>
    <% end %>

  </div>

  <div class="span2 well">
    <%= link_to user_path(@user), method: "delete", confirm: "#{t("web-app-theme.confirm", :default => "Are you sure?")}", class:  'btn btn-danger' do %>
      <i class="icon-trash icon-white"></i> Delete my account
    <% end -%>
  </div>
</div>
