<div class="span8">
  <h2><%= "#{@user.github }"%></h2>
  <% if current_user.blank? %>

    Are you <%= @user.github %>?<br />
    <span class="active"><%= link_to 'Login', new_user_registration_path %></span>
    to edit your account

  <% end %>

  <% if current_user && current_user == @user %>
    <section id="user-details"</section>
      <h5> Email : <%= @user.email %> </h5>
      <small class='muted'>Only visible to you</small>

      <h5>Publicly visible? : <%= @user.public? ? "Yes" : "No" %> </h5>
      <% if @user.public? %>
        <%= link_to "Stay private", users_path(user: {private: true}), method: :put, :class => 'btn btn-warning'  %>
      <% else %>
        <%= link_to "Go public", users_path(user: {private: false}), method: :put, :class => 'btn btn-success'  %>
      <% end %>
    </section>

    <section id="user-favorite-langs">
      <h3>Favorite Languages:</h3>
      <p>Select your favorite languages:</p>

      <%= form_for @user do |f| %>
        <% Repo.all_languages.each do |language| %>
          <label class="checkbox">
            <%= f.check_box :favorite_languages, { multiple: true }, language, nil %>
            <%= language %>
          </label>
        <% end %>
        <p>
          <%= button_tag "Save", :class => "btn btn-primary" %>
        </p>

      <% end %>
    </section>
  <% end %>

  <div class="form-actions">
    <% if current_user.blank? %>
      Are you <%= @user.github %>?<br />
      <span class="active"><%= link_to 'Login', new_user_registration_path %></span>
      to edit your account
    <% elsif current_user == @user %>
      <%= link_to '<i class="icon-edit icon-white"></i> Edit my Account'.html_safe, edit_user_path(@user), :class => 'btn btn-primary', :style => 'margin-bottom: 5px' %>
      <%= link_to '<i class="icon-trash icon-white"></i> Delete my account'.html_safe, user_path(@user), method: "delete", confirm: "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-danger' %>
    <% else %>
      This isn't your account, jump to <%= link_to current_user.github, current_user %>
    <% end %>
  </div>

</div>

