<% lang_index = 0 %>
<div class="row-fluid">
  <ul class="nav nav-tabs nav-stacked span4" data-tabs="tabs" id="repo-tabs">
    <% repos.group_by(&:language).each do |lang, repos| %>
      <% unless lang == nil %>
        <li><a href="#<%= "#{lang.parameterize}#{lang.hash}" %>" data-toggle="tab"><%= lang %></a></li>
      <% end -%>
    <% end -%>
  </ul>

  <div class="tab-content span8">
    <% repos.group_by(&:language).each do |lang, repos| %>
      <% unless lang == nil %>
        <div class="tab-pane<%= " active" if lang_index == 0 %>" id="<%= "#{lang.parameterize}#{lang.hash}" %>">
          <ul class="unstyled repos-list">
            <%= render partial: 'repos/repo', collection: repos %>
          </ul>
        </div>
        <% lang_index = lang_index + 1 %>
      <% end -%>
    <% end -%>
  </div>
</div>

<%= link_to "Submit a Repo", new_repo_path, class: 'btn btn-success' %>

<script>
  $(document).ready(function(){
    var hash = document.location.hash;

    if (hash) {
      $('.nav-tabs a[href='+hash+']').tab('show');
    }
  });
</script>
