<p>
  <ul class="nav nav-pills">
    <li class="<%= selected_lang == "All" ? "active" : "" %>"><%= link_to 'All' %></li>
    <% languages.each do |lang| %>
      <li class="<%= selected_lang == lang ? "active" : "" %>"><%= link_to lang, url_for( :lang => lang ) %></li>
    <% end %>
  </ul>
</p>

<ul class="unstyled repos-list">
  <% repos.first(50).each do |repo| %>
    <li>
      <span class="badge badge-info"><%= repo.issues_count %></span>
      <%= link_to repo.to_param, repo %> <small>(<%= repo.language %>)</small>
    </li>
  <% end %>
</ul>

<hr />
