<% unless user_signed_in? %>
  <div class="jumbotron">
    <h1>Help your favorite open source projects</h1>
    <p class="lead">Sign up to receive a different open issue in your inbox every day from your favorite GitHub repos</p>
    <a class="btn btn-large btn-success" href="<%= new_user_registration_path %>">Sign up today</a>
  </div>

  <div class="jumbotron">
    <h2></h2>
    <p class="lead"><%= number_with_delimiter(User.count, delimiter: ',') %> developers are working on <%= Repo.count %> open source repos</p>
  </div>
<% end -%>

<hr />

<% if @repos_subs.present? %>
  <h2>Repos you are currently helping</h2>
  <p>
    <%= render 'repo_subscriptions/list', repos_subs: @repos_subs %>
    <%= link_to 'Find additional repos', repos_path, class: 'btn btn-success' %>
    <%= link_to "Submit a Repo", new_repo_path, class: 'btn btn-success' %>
  </p>
  <hr />
<% end %>
<h2>Repos needing the most help</h2>
<%= render 'shared/repos', repos: @repos %>
