<h2>Help Triage Github Issues With Your Favorite Projects</h2>

<% if current_user %>
  You are signed in as <%= "@#{current_user.github}"  %> from Github
  <% if @repos_subs.present? %>
    <hr>
    <%= render 'repo_subscriptions/list' %>
  <% end -%>
<% else %>
  <%= render 'sign_in' %>
<% end %>

<hr />

<h2>Repos needing the most help</h2>
<p>
  (Ordered by issue count.  Numbers updated every 24 hours)
</p>

<%= render 'shared/repos', repos: @repos, languages: @languages, selected_lang: @selected_lang %>

<p>
  <%= link_to "View All Repos", repos_path, :class => 'btn btn-success' %>
  <%= link_to "Add a Repo", new_repo_path, :class => 'btn btn-success' %>

  <%# link_to "How does issue triage work?", page_path(:how), :class => 'btn btn-success ' %>

</p>

