<h2>Help Triage Github Issues With Your Favorite Projects</h2>

<% if current_user %>
  You are signed in as <%= "@#{current_user.github}"  %> from Github
  <hr />
  <p>
    <%= link_to "View All Repos You are Triaging", repo_subscriptions_path, :class => 'btn btn-primary' %>
  </p>
<% else %>
  <p>
    Sign up to receive a different open issue in your inbox every day from any github repo.
  </p>
    <ol>
      <li>Sign up via Github</li>
      <li>Find the repo you want to receive issues from such as <%= link_to "rails/rails", "http://issuetriage.herokuapp.com/repos/36" %></li>
      <li>Click the "Subscribe" button</li>
      <li>Make the world a better place by triaging issues</li>
    </ol>

  <p>
    The email will come with triaging instructions on how to help with the project. Unsubscribe any time.
  </p>

  <%= link_to "Sign in with Github", user_omniauth_authorize_path(:github), :class => 'btn btn-primary' %>
<% end %>



<hr />

<h2>Repos With the most Issues</h2>
<p>
  (Numbers updated every 24 hours)
</p>


  <ul>
    <% @repos.first(50).each do |repo| %>
      <li>
        <%= link_to "#{repo.user_name}/#{repo.name}", repo %>, <strong><%= repo.issues.where(:state => 'open').count %></strong>
      </li>
      <br />
    <% end %>
  </ul>
<hr />
<p>
  <%= link_to "View All Repos", repos_path, :class => 'btn btn-success' %>
  <%= link_to "Add a Repo", new_repo_path, :class => 'btn btn-success' %>

  <%# link_to "How does issue triage work?", page_path(:how), :class => 'btn btn-success ' %>

</p>

