<%= render 'layouts/head' %>
  <% unless user_signed_in? %>
    <!-- jumbotron -->
    <div class="jumbotron">
      <h1>Help your favorite open source projects</h1>
      <p class="lead">Sign up to receive a different open issue in your inbox every day from your favorite GitHub repos</p>
      <a class="btn btn-large btn-success" href="<%= new_user_registration_path %>">Sign up today</a>
    </div>

    <div class="jumbotron">
      <h2></h2>
      <p class="lead"><%= number_with_delimiter(User.count, delimiter: ',') %> developers are working on <%= Repo.count %> open source repos</p>
    </div>
  <% end -%>

  <!-- yield -->
  <div class="row-fluid marketing">
    <%= yield %>
  </div>
<%= render 'layouts/footer' %>
