<%= stylesheet_link_tag "markdown.css" %>

<div class="readme">
  <article class="markdown-body">
    <%= yield %>
  </article>
  <center class="footer">
    <div class="logo-wrapper">
      <%= link_to image_tag(asset_url('logo-dark-text.png')), root_url %>
    </div>
    <div class="footer-links">
      <% if @user %>
        <%= link_to "Remove Account", token_delete_user_url(@user.account_delete_token) %>
        |
      <% end %>
      <%= link_to "CodeTriage.com", root_url %>
    </div>
  </center>
</div>
